<div class="container">
    <h1>Stupid Coaching</h1>
    <h3>
      <%= @question %>
      <p>
        -You </p>
        <br>
      <div class="answer"> 
        <%= @answer %> 
        <p>
        -Coach
        </p>
      </div> 
    </h3>

    <%= link_to "Back", "ask" %>
</div>